/config/database.yml
/config/airbrake.yml
/config/smtp.yml
/public/assets
/migration/*.sql

# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/bin

*.sw[a-z]

.redcar/
/coverage
.DS_Store

/.yardoc

.ruby-version
