html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 5px;
  color: #666;
}

a {
  text-decoration: none;
  color: #661843;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 400%;
}

.header h2 {
  font-size: 150%;
}

h1, h2, h3 {
  font-weight: 300;
}

.centered {
  text-align: center;
}

button.fixed-width {
  width: 120px;
}

.far {
  margin-top: 50px;
}

.button-error {
  background: rgb(202, 60, 60);
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.alert-error {
  color: #FF530D;
}

.small-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.fixed-height-small {
  height: 20px;
}

.main-page-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.group-summary td {
  padding: 3px 8px;
}

.group-summary .name {
  text-align: right;
}

.group-summary .amount {
  text-align: left;
}

.group-summary .positive .amount {
  color: green;
}

.group-summary .negative .amount {
  color: red;
}

.group-summary .options {
  width: 80px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
